{% extends '::basemenu.html.twig' %}
{% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}

{% block menu %}
    {{ menu|raw }}
{% endblock %}
{% block header %}
<!-- Content Header (Page header) -->
    <section style="padding-bottom: 20px;"class="content-header">
      <h1>
        Agregar persona
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-user"></i> Personas</a></li>
        <li class="active">Agregar nueva persona </li>
      </ol>
    </section>
{% endblock %}

{% block content -%}


    {{ form(form) }}

    <ul style="list-style: none; margin-left: 0; text-align: right ">
    <li>
       <a class="btn btn-md btn-success" href="{{ path('datospersonas') }}">
           <i class="ace-icon fa fa-arrow-left align-top bigger-120"></i> Regresar 
        </a>
    </li>
</ul>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript"> 
    $('#victoria_appbundle_datospersonas_idCampana').change(function(e) {
        
        var valcamp = $(this).val();  
        e.preventDefault(); 
          var param =  valcamp;
           url="/Victoria/web/app_dev.php/aduser/buscarDistrito/" + param;
          $.ajax({
            type:'POST',
            url:url,
            beforeSend: function(){
            $("#lblError").hide();	
            },
            dataType: 'json',
            success:function(data){
                if(data.message === 'false'){
                    alert('false');
                }else{
                     var ejercicio = "<option value=''> -- seleccionar -- </option>";
                     $.each(data, function(i) {
                        ejercicio = ejercicio + "<option value='"+data[i].idDistrito+"'>"+data[i].idDistrito+ " - "+data[i].nombre+ "</option>";  
                     });
                     $('#victoria_appbundle_datospersonas_idDistrito').html(ejercicio);
                     //$('#focal_appbundle_aduser_submit').prop('disabled', true);
                }
            }
        });
    });
    
    $('#victoria_appbundle_datospersonas_idEstructura').change(function(e) {
        
        var valcamp = $(this).val();  
        e.preventDefault(); 
          var param =  valcamp;
           url="/Victoria/web/app_dev.php/aduser/buscarComision/" + param;
          $.ajax({
            type:'POST',
            url:url,
            beforeSend: function(){
            $("#lblError").hide();	
            },
            dataType: 'json',
            success:function(data){
                if(data.message === 'false'){
                    alert('false');
                }else{
                     var ejercicio = "<option value=''> -- seleccionar -- </option>";
                     $.each(data, function(i) {
                        ejercicio = ejercicio + "<option value='"+data[i].idTipoComision+"'>"+data[i].idTipoComision+ " - "+data[i].descripcion+ "</option>";  
                     });
                     $('#victoria_appbundle_datospersonas_idComision').html(ejercicio);
                     //$('#focal_appbundle_aduser_submit').prop('disabled', true);
                }
            }
        });
    });
    </script>
{% endblock %} 
