{% extends '::basemenu.html.twig' %}
{% form_theme edit_form 'bootstrap_3_horizontal_layout.html.twig' %}

{% block header -%}
    Editar Acceso de Usuario
    <small>
        <i class="ace-icon fa fa-angle-double-right"></i>
        Editar información del acceso
    </small>
{% endblock %}
{% block menu %}
    {{ menu|raw }}
{% endblock %} 
{% block content -%} 

    {{ form(edit_form) }}

    <ul class="record_actions">
    <li>
        <a href="{{ path('adroles') }}">
            Regresar al listado
        </a>
    </li>
</ul>
{% endblock %}
